<div class="radio">
    <label>
        <input type="radio" ng-model="token.data.value" value="{{UNSPECIFIED}}" ng-change="setValue(UNSPECIFIED)"> Unspecified
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" ng-model="token.data.value" value="{{NEVER}}" ng-change="setValue(NEVER)"> Never
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" ng-model="token.data.value" value="{{valueToCompare}}"
               ng-change="setValue(datepickerDate)"/>
        <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="datepickerDate"
               close-text="Close" ng-disabled="token.data.value != valueToCompare"/>
    </label>
</div>

valueToCompare - {{valueToCompare}} </br>
token.data.value - {{token.data.value}} </br>
datepickerDate - {{datepickerDate}} </br>
