<div class="radio">
    <label>
        <input type="radio" ng-model="timestamp.value" value="{{UNSPECIFIED}}"> Unspecified
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" ng-model="timestamp.value" value="{{NEVER}}"> Never
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" ng-model="timestamp.value" value="{{valueToCompare}}"
               ng-change="updateTimestamp(datepickerDate)"/>
        <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="datepickerDate"
               close-text="Close" ng-disabled="timestamp.value != valueToCompare"/>
    </label>
</div>